
name: UI

on:
  push:
    paths: ['.github/workflows/frontend.yml','frontend/**', '**', './README.md']
    branches: [ main ]
  workflow_dispatch:
jobs:
  build-and-deploy-react:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
    - uses: actions/checkout@v2
    - name: Set Variables
      run: |
          GIT_BRANCH=$(echo ${GITHUB_REF#refs/heads/})
          if [ $GIT_BRANCH == "main" ]
          then
            echo "Deploying to staging"
            echo "SSH_USER=${{vars.STAGING_SSH_USER}}" >> $GITHUB_ENV
            echo "SSH_HOST=${{vars.STAGING_SSH_HOST}}" >> $GITHUB_ENV
            echo "BUILD_FLAG=staging" >> $GITHUB_ENV
          else
            echo "Deploying to production"
            echo "SSH_USER=${{vars.PROD_SSH_USER}}" >> $GITHUB_ENV
            echo "SSH_HOST=${{vars.PROD_SSH_HOST}}" >> $GITHUB_ENV
            echo "BUILD_FLAG=production" >> $GITHUB_ENV
          fi
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json
    - name: Install SSH Key Staging
      uses: shimataro/ssh-key-action@v2
      if: ${{ env.BUILD_FLAG == 'staging' }}
      with:
        key: ${{secrets.STAGING_SSH_KEY}}
        name: id_rsa
        known_hosts: ${{vars.STAGING_SSH_HOST}}
        if_key_exists: replace
    - name: Install SSH Key Production
      uses: shimataro/ssh-key-action@v2
      if: ${{ env.BUILD_FLAG == 'production' }}
      with:
        key: ${{secrets.PROD_SSH_KEY}}
        name: id_rsa
        known_hosts: ${{vars.PROD_SSH_HOST}}
        if_key_exists: replace
    - run: npm install -f
      working-directory: frontend
    - run: CI=false && npm run build:${{env.BUILD_FLAG}}
      working-directory: frontend
    - run: mkdir -p client-packaged && tar -czvf client-packaged/package.tar.gz -C frontend/build .
    - run: sudo apt update && sudo apt install rsync
    - run: rsync -a  -e "ssh -o StrictHostKeyChecking=no" --delete client-packaged/ ${{env.SSH_USER}}@${{env.SSH_HOST}}:/home/smartflags/tmp/client-temp/
    - run: ssh -o StrictHostKeyChecking=no ${{env.SSH_USER}}@${{env.SSH_HOST}} "rm -rf /home/smartflags/htdocs/smartflags.tech/static && rm -rf /home/smartflags/htdocs/smartflags.tech/asset-manifest.json && rm -rf /home/smartflags/htdocs/smartflags.tech/index.html"
    - run: ssh -o StrictHostKeyChecking=no ${{env.SSH_USER}}@${{env.SSH_HOST}} "tar -xf /home/smartflags/tmp/client-temp/package.tar.gz -C /home/smartflags/htdocs/smartflags.tech"